/* Import font from Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* Import from pages folder */
@import url(./pages/home/index.css);

/* Import from components folder */
@import url(./components/footer.css);
@import url(./components/button.css);
@import url(./components/scrollbar.css);
@import url(./components/accordion.css);
@import url(./components/container.css);
@import url(./components/navigation.css);

* {
    margin: 0;
    padding: 0;

    font-family: 'Poppins';

    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}
