.home_about {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;

    padding-top: 150px;

    position: relative;
}

.home_about--content {
    width: 100%;
    max-width: 500px;

    display: flex;
    gap: 30px;
    flex-direction: column;
}

.home_about--title p {
    color: #3b8659;

    font-size: 36px;
    font-weight: 600;
}

.home_about--title span {
    color: #f5d189 !important;
}

.home_about--description p {
    color: #7b7b7b;
}

.home_about--image {
    width: 100%;
    max-width: 500px;
}

.home_about--image img {
    width: 100%;
}

.home_about--stat {
    display: flex;
    gap: 40px;
    align-items: center;

    background-color: #e8fff1;

    padding: 16px;

    color: #2ba96f;
}
.home_about--statText {
    font-size: 14px;
}

.home_about--statNumber {
    font-size: 30px;
    font-weight: bold;

    white-space: nowrap;
}

@media (max-width: 800px) {
    .home_about {
        gap: 100px;
        flex-direction: column;
    }

    .home_about--stat {
        justify-content: center;
    }
}

@media (max-width: 500px) {
    .home_about--title p {
        font-size: 24px;
    }
}
