.hero {
    position: relative;

    padding-top: 160px;

    background-size: 100%;
    background-color: #59a7d3;
    background-repeat: no-repeat;
    background-position: top right;
    background-image: url('../../../assets/images/heroCircle.png');
}

.hero::after {
    position: absolute;
    bottom: -150px;
    left: 0;

    z-index: -1;

    content: url('../../../assets/icons/homeAboutCircle.svg');
}

.hero_content {
    display: flex;
    gap: 40px;
    flex-direction: column;
}

.hero_text {
    width: 100%;
    max-width: 900px;

    margin: 0 auto;

    text-align: center;

    display: flex;
    gap: 30px;
    flex-direction: column;
}

.hero_text > h1 {
    color: white;
}

.hero_text > p {
    color: white;
}

.hero_text h1 {
    font-size: 48px;
}

.hero_text p {
    max-width: 600px;

    margin: 0 auto;
}

.hero_text_span {
    color: #f5d189;
}

.hero_image {
    width: 100%;

    display: flex;
    justify-content: center;
}

.hero_image img {
    width: 100%;
    max-width: 600px;
}

@media (max-width: 500px) {
    .hero_text > h1 {
        font-size: 32px;

        text-align: left;
    }

    .hero_text > p {
        text-align: left;
    }
}
