.hero {
    position: relative;

    padding-top: 160px;

    background-size: 100%;
    background-color: #38bf6e;
    background-repeat: no-repeat;
    background-position: top right;
    background-image: url('../../../assets/images/heroCircle.png');
}

.hero::after {
    position: absolute;
    bottom: -150px;
    left: 0;

    z-index: -1;

    content: url('../../../assets/icons/homeAboutCircle.svg');
}

.hero_content {
    display: flex;
    gap: 40px;
    flex-direction: column;
}

.hero_text {
    width: 100%;
    max-width: 900px;

    margin: 0 auto;

    text-align: center;

    display: flex;
    gap: 30px;
    flex-direction: column;
}

.hero_text > h1 {
    color: white;
}

.hero_text > p {
    color: white;
}

.hero_text h1 {
    font-size: 48px;
}

.hero_text p {
    max-width: 600px;

    margin: 0 auto;
}

.hero_text_span {
    color: #f5d189;
}

.hero_image {
    width: 100%;

    display: flex;
    justify-content: center;
}

.hero_image img {
    width: 100%;
    max-width: 600px;
}

.countdown {
    width: 100%;

    position: absolute;
    bottom: -110px;
    left: 0;

    display: flex;
    justify-content: center;

    padding: 0 20px;
}

.countdown--container {
    width: 100%;
    max-width: 400px;

    padding: 16px;

    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;

    border-radius: 16px;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.08);

    background-color: white;
}

.countdown--text {
    color: #3b8659;

    display: flex;
    gap: 4px;
    flex-direction: column;

    text-align: center;
}

.countdown--time {
    display: flex;
    gap: 20px;
}

.countdown--timeBox {
    display: flex;
    text-align: center;
    flex-direction: column;
}

.countdown--timeNumber {
    width: 60px;
    height: 50px;

    font-size: 30px;
    font-weight: bold;

    border-radius: 10px;

    display: grid;
    place-items: center;

    color: #38bf6e;
    background-color: #e8fff1;
}

.countdown--timeText {
    font-weight: bold;

    color: #38bf6e;
}

@media (max-width: 500px) {
    .hero_text > h1 {
        font-size: 32px;

        text-align: left;
    }

    .hero_text > p {
        text-align: left;
    }

    .countdown--timeNumber {
        width: 40px;
        height: 30px;
    }
}
