@import url(./cta.css);
@import url(./qna.css);
@import url(./hero.css);
@import url(./about.css);
@import url(./howto.css);

.home_content {
    padding-bottom: 150px;

    display: flex;
    /* gap: 200px; */
    flex-direction: column;
}
