.input {
    width: 100%;

    margin: 10px 0;

    position: relative;
}

.inputText {
    width: 100%;

    font-size: 16px;

    padding: 10px;

    border-radius: 6px;
    border: 2px solid #c4c4c4;

    position: relative;

    outline: none;

    transition: 0.2s ease all;

    background-color: white;
}

.inputTextWarning {
    border: 2px solid #fe8181 !important;
}

.floating-label {
    width: max-content;

    position: absolute;
    pointer-events: none;

    top: 14px;
    left: 10px;

    padding: 0 3px;

    color: #c4c4c4;
    font-size: 14px;

    display: flex;
    align-items: center;

    background-color: white;

    transition: 0.2s ease all;
}

.floating-label-warning {
    color: #fe8181 !important;
}

.inputPassword::after {
    position: absolute;
    top: 0;
    left: 0;

    content: url('../../assets/icons/eye.svg');
}

.inputText:disabled {
    cursor: not-allowed;
}

.inputText:focus ~ .floating-label,
.inputText:not(:focus):valid ~ .floating-label {
    top: -8px;
    left: 9px;

    font-size: 12px;

    font-weight: bold;

    color: #3b8659;
}

.inputText[type='date']:not(:focus):invalid {
    color: white;
}

.inputText:focus {
    border: 2px solid #3b8659;
}

.inputText-disabled {
    color: #c4c4c4;
}

.floating-label-disabled-with-content {
    top: -8px;
    left: 9px;

    font-size: 12px;

    font-weight: bold;

    color: #c4c4c4;
}

.inputWarningText {
    font-size: 12px;
    font-weight: bold;

    color: #fe8181;
}

@media (max-width: 500px) {
    .inputText {
        font-size: 14px;
    }

    .floating-label {
        font-size: 14px;
    }
}

.input-radio {
    margin: 10px 0;

    display: flex;
    gap: 8px;
    flex-direction: column;
}

.input-radio-title {
    font-size: 14px;

    color: #7b7b7b;
}

.input-radio-label {
    color: #7b7b7b;
}

.form-section-rtrw {
    width: 100%;
    max-width: 200px;

    display: flex;
    gap: 20px;
}

.form-from-village-label {
    font-weight: 500;

    color: #3b8659;
}
