nav {
    width: 100%;

    padding: 20px 0;

    position: fixed;

    z-index: 10;

    transition: 0.2s all;
}

.nav_scrolled {
    background-color: #59a7d3;

    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.nav_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_linkButton {
    display: flex;
    gap: 60px;
}

.nav_link {
    display: flex;
    gap: 40px;
    align-items: center;
}

.nav_link a {
    color: white;

    font-weight: 600;
    text-decoration: none;
}

.nav_link_item {
    height: min-content;

    padding: 4px 0;

    border-bottom: 2px solid transparent;

    transition: 0.2s all;
}

.nav_link_item:hover {
    border-bottom: 2px solid #f5d189;
}

.nav_link_item:hover a {
    color: #f5d189;
}

.nav_button {
    display: flex;
    gap: 15px;
}

.nav_button_login {
    color: white;

    font-weight: bold;

    border: 1px solid white;
}

.nav_button_register {
    color: #42769c;

    font-weight: bold;

    background-color: #f5d189;
    border: 1px solid #f5d189;
}
