.table-wrapper {
    width: 100%;

    overflow: scroll;
}

.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;

    border-radius: 8px;
    overflow: hidden;
}

.table thead {
    background-color: #38bf6e;
}

.table th {
    color: white;
}

.table td,
.table th {
    text-align: left;
    padding: 8px;
}

@media (max-width: 768px) {
    .table_hide_768 {
        display: none;
    }
}

@media (max-width: 500px) {
    .table_hide_500 {
        display: none;
    }
}
