.hero {
    padding-top: 160px;
    background-color: #59a7d3;
}

.hero_content {
    display: flex;
    gap: 40px;
    flex-direction: column;
}

.hero_text {
    width: 100%;
    max-width: 900px;

    margin: 0 auto;

    text-align: center;

    display: flex;
    gap: 30px;
    flex-direction: column;
}

.hero_text h1,
p {
    color: white;
}

.hero_text h1 {
    font-size: 48px;
}

.hero_text p {
    max-width: 600px;

    margin: 0 auto;
}

.hero_text_span {
    color: #f5d189;
}

.hero_image {
    width: 100%;

    display: flex;
    justify-content: center;
}

.hero_image img {
    width: 100%;
    max-width: 600px;
}
